<div>
    <button class="new-item" (click)="createItem()">New Item</button>
    <table>
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Actions</th>
        </thead>
        <tbody>
        @for (item of items(); track item.id) {
            <tr>
                <td class="clickable" (click)="openItem(item)">{{item.id}}</td>
                <td class="clickable" (click)="openItem(item)">{{item.name}}</td>
                <td class="clickable" (click)="openItem(item)">{{item.amount}}</td>
                <td>
                    <span class="link" (click)="openItem(item)">✎</span>
                    <span class="link" (click)="deleteItem(item)">🗑</span>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>